.bounce-ball{
        width: 100px;
        height: 100px;
        background-color: blue;
        position: relative;
        border-radius: 50%;

        animation-name: bounce1;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    
        animation-direction: alternate;
}

@keyframes bounce1{
    top{
        top: 0;
        animation-timing-function: ease-out;
    }
    from{
        left: 500px;
    }

    to{
        top: 500px;
    }

    to{
        left: 500px;
    }

    

    
    

}