.d-block {
    display: block;
    background-color: blueviolet;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 20px;
}

.d-inline {
    display: inline;
    background-color: red;
    border: 1px solid black; 
    width: 100px;
    height: 100px;
    margin: 20px;
    /*padding: 30px;*/
}

.d-line-block {
    display: inline-block;
    width: 50px;
    height:  50px;
    background-color: green;
   /* margin: 20px;
    padding: 30px;*/
    padding: 10px 20px 30px 40px;
    margin: 10px;
}

.parent{
    width: 500px;
    height: 200px;
    background-color: red;
}

.parent .min{
    min-width: 400px;
    background-color: orange;
    height: 100px;
}
.parent .max{
    max-width: 400px;
    background-color: aqua;
    height: 100px;


}
.box {
    background-color: gray;
    border: 1px solid black;
}

.box-px{
    width: 50px;
    height: calc(50vw - 10px);
}
.box-view{
    width: 10vw;
    height: 10vw;
}
.box-per{
    width: 10%;
    height: 10%;
}

.rem {
    font-size: 2rem;
}

.em {
    font-size: 2em;
}


.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.border {
    
    border: 3px solid black;
    border-style: dashed;
    border-color: blue; 
    border-color: red orange green yellow;
    border-left: 5px dotted slateblue;
    border-top-style: dotted;
}

.rounded {
    background-color: aquamarine;
    border-radius: 10px;
    border-radius: 10px 20px 30px 40px;
    border-radius: 10% 20% 40 60%;
    border-radius: 50%;
}

.Border-width {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-color: gray;
    border-style: dotted;
    border-width: 20px;
}
.Border-style {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-color: gray;
    border-style: dashed;
    
}
.Border-color {
    border: 2px;
    display: inline-block;
    width: 800px;
    height: 800px;
    border-color:liin pink yellow red;
    border-style: solid;
    border-width: 20px;
    border-radius: 50%;
    background-image: url(./img/pooh_720.png);
    background-size: 90px 90px;
    background-repeat: no-repeat;
    background-position: center;
}

.Border-men {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-color:black blue red green ;
    border-style: dashed;
    border-width: 20px;
    border-radius: 50px;
}

.box-sizing {
    padding: 20px;
    border: 15px solid red;
    background-color: orange;

}
.content-box {
    box-sizing: content-box;
    border-radius: 50%;
}
.border-box {
    box-sizing: border-box;
}

