
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
body {
    font-size: 40px;
    text-align: center;
    font-family: 'KimjungchulGothic-Bold';
font-family: 'Black And White Picture', sans-serif;  
}

  @font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2')
      format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  .sentences {
    font-weight: 700;
  
    color: rgb(219, 136, 19);
  
    line-height: 2;
    font-family: 'Hi Melody', cursive;
  }
  .font-import {
    font-family: 'East Sea Dokdo', 'Hi Melody', 'KimjungchulGothic-Bold', cursive;
  }
  
.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.border {
    border: 5px;
    border-style:solid;
    border-color:red yellow orange;
    border-radius: 50%;
    background-image: url(./img/pooh_720.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
}